.search-box {
    background:rgb(240, 240, 240);
    border: 0.5px solid lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 40px;
    margin-top: 2px;
    font-size: 18px;
    max-width: 400px;
    width: 250%;
    text-align: left;
    outline: none;
}
.search-box:hover {
    border: 1px solid #0079D3;
    background-color: white;
}
.search-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border: 0px;
    padding: 5.7px 0;
    font-size: 1em;
    position: relative;
    width: 87%;
    align-items: center;
    outline: none;
}
.search-input:hover {
    background-color: white;
}
.search-icon {
    float: left;
    color: #000;
    padding: 7px 10px;
}
.search-icon img {
    width: 24px;
}