.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 54px;
  -webkit-box-shadow: 0 6px 1px -6px #999;
  -moz-box-shadow: 0 6px 1px -6px #999;
  box-shadow: 0 6px 1px -6px #999;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

img {
  display: block;
  max-width: 128px;
  max-height: 128px;
  width: auto;
  height: auto;
}

.toolbar__logo {
  margin-left: 2rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.search-bar {
  display: flex;
  margin-left: 7rem;
}

@media (max-width: 768px) {
  .search-bar {
    margin-left: 2rem;
  }
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fa923f;
}


.toolbar__logo {
    margin-left: 0.2px;
  }

 @media (max-width: 768px) {
    .toolbar_navigation-items{ 
      display: none
    }
    .toolbar__logo {
      display: none
    }
    .dropdownMenu {
      display: none
    }
    .side-buttons {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none
    }
  }

  .side-buttons {
    display: flex;
  }

  .pic {
    width: 30px;
    height: 20px;
 }
 
 .spic {
    width: 20px;
    height: 20 px;
    margin-right: 10px;
 
 }
 .dd {
  display: flex;
 }
 
 .dd:hover,
 .dd:active {
  background-color: rgb(240, 240, 240);
 }
