.icon-btn {
  margin: 3px 15px 3px 15px;
  background-color: white;
  background: white;
	border: none;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:20px;
	text-decoration:none;
}
.icon-btn:hover {
  background-color: lightgrey;
    
}
.icon-btn:active {
	position:relative;
  top:1px;
}

#popularBtn {
  background-image: url('../ButtonsIcon/img/popular.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 30px;
  
}
#all {
    background-image: url('../ButtonsIcon/img/all.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    height: 30px;
    
}
#oc {
    background-image: url('../ButtonsIcon/img/oc.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    height: 30px;
    
  }